/* body {
    background: linear-gradient(45deg, black, transparent);
} */

#Game {
    background: white;
    height: 483px;
    width: 660px;
    margin-left: 114px;
    text-align: center;
    font-family: sans-serif
}

#timer {
    margin-left: 114px;
}

.button {
    background: darkgreen;
    margin-bottom: 25px;
    width: 120px;
    height: 40px;
    text-align: center;
}

.container {
    text-align: center;
    background: darkgray;
    background-image: url("../images/eyeem-142484472.jpg");
}

p {
    border: 1px solid lightgray;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    width: fit-content;
}

.button:hover {
    background-color: blue;
}

h1 {
    word-spacing: 0px;
    font-size: 2.5rem;
    font-family: sans-serif;
    height: 75px;
}

.choice {
    text-align: center;
    margin-left: 150px;
}

body {
    background-image: url("../images/pngtree-autumn-mountain-deciduous-background-leavesyellowwarm-colortreebackgroundbeautiful-viewleavesliterary-image_60200.jpg");
}
p.choice:hover {
    background-color: blue;
}
